.main {
    display: flex;
    min-height: 100vh;
}

.content {
    width: 80%;
    padding: 20px 30px 20px 30px;
}

@media (max-width: 600px) {
    .main {
        flex-direction: column;
        height: auto;
    }
    .content {
        width: 100%;
        padding: 20px 30px 20px 30px;
    }
}