.main {
    display: flex;
    height: 100%;
}

.content {
    width: 80%;
    padding: 20px 30px 20px 30px;
}

@media (max-width: 600px) {
    .main {
        flex-direction: column;
        height: auto;
    }
    .content {
        width: 100%;
        padding: 20px 30px 20px 30px;
    }
}